body{
    background-color:beige;
}
h1{
    font-size: 33px;
    color:coral;
    background-color: cyan;
    font-weight: bolder;
}
li
{
  font-size: 15px;
  font-weight: bold;
  color:black;
}