body{
  
    background-size: cover;
    background-image: url('3d image.jpg');
}
.container
{
    text-align: center;
    width: 90%;
    font-size: 20px;
    color: brown;
}
h1{
    color: deepskyblue;
    font: 30px sans-serif;
    border: 40px;
}
.from
{
    text-align: center;
    font-family: 1em sans-serif;
    
}
button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.main{
    font-size: 10px;
}
h2{
    font-size: 20px;
}
text {
    width: 100px;
}